<div class="col-md-12" ng-controller="DataTableCtrl">
    <div class="table-responsive">
        <table datatable="ng" class="row-border hover table table-striped table-condensed table-hover">
            <thead>
            <tr>
                <th style="width: 20%">ID</th>
                <th style="width: 40%">FirstName</th>
                <th style="width: 40%">LastName</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="person in persons" table-row>
            </tr>
            </tbody>
        </table>
    </div>
</div>
